:root.theme-dark {
  --bg-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --p-color: rgba(241, 178, 206, 1);
  --bg-img:url(/images/cover-image-dark.png);
  --Ñ€2-color:rgba(255, 0, 112, 1);
}



