:root.theme-light {
  --bg-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --p-color: rgba(53, 52, 48, 1);
  --р2-color:rgba(53, 52, 48, 1);
  --bg-img:url(/images/cover-image-light.png);
  background-color:rgba(255, 241, 247, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --title-color: rgba(255, 194, 230, 1);
    --p-color: rgba(53, 52, 48, 1);
    --р2-color:rgba(53, 52, 48, 1);
    --bg-img:url(/images/cover-image-light.png);
  }
}

:root.theme-light  .decorated-word {
    display: none;
  }